div.w3-panel.w3-light-gray
   h4 This is the footer.
   p Consectetur expedita temporibus quia enim eum deleniti eius cum reprehenderit deleniti numquam. In eveniet eos ex ut quos! Deleniti aliquid qui qui sequi placeat laborum. Saepe asperiores odit nostrum accusantium.

