{% extends 'lay/base.twig' %}

{% block body %}

<h1>Music</h1>

<p>Ipsum dolor iure quam quisquam ipsum? Totam vel accusamus aspernatur molestias ipsam Vel tempore nulla enim fugiat vitae? Tempora modi laborum minima quis voluptas A et ut temporibus eaque soluta.</p>

{% endblock %}
