<div class="w3-bar w3-border w3-light-grey" class="menu">
  <a class="w3-bar-item w3-button" href="{{url '/posts'}}">Home</a>
  <a class="w3-bar-item w3-button" href="{{url '/posts/create'}}">Create</a>
</div>
