<div class="w3-bar w3-border w3-light-grey" class="menu">

  {{{ link 'Home' '/posts' }}}
  {{! LINK TO POSTS INDEX !}}

  {{{ link 'Create' '/posts/create' }}}
  {{! LINK TO POSTS CREATE !}}

</div>
