<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SINGLE POST</title>
  </head>
  <body ng-app="app">

    <main-menu></main-menu>

    <div class="container">
      <h1>THE SINGLE POST</h1>
    </div>

    <div class="container" ng-controller="PostController">
      <% post %>
    </div>

    <script src="/opengl/dist/common.js"></script>
    <script src="/opengl/dist/client.out.js"></script>
  </body>
</html>
