<div id="navigation">
  <ul class="menu">
    <li><a href="/todo">Home</a></li>
    <li><a href="/todo/todos">Todos</a></li>
    <li><a href="/todo/posts">Posts</a></li>
  </ul>
  <ul class="menu">
    <li><a href="/todo/login">Log in</a></li>
  </ul>
</div>
