h4 This is the controller test page.

div.well
   h5 This is TestController testing place

   pre(controller="TestController", controllerAs="test")
      p {{ test.example() }}

   pre(controller="ApplicationController", controllerAs="APP")
      p {{ APP.example() }}

