h4 This is the index of test page.

hr
p START OF THE SECTION

hr

h1 This is another title for some reason.

p <% 'WHAT AN AWESOME TEXT' %>
p="<% 'WHAT AN AWESOME TEXT' %>"
div
   <% 'WHY IS THIS SO AWESOME' %>

hr

p END OF THE SECTION

hr
