<h1>Log In</h1>

{{> users/menu}}

<br>

<div class="w3-container w3-red">
  <h3>Log into your account.</h3>
</div>
<form class="w3-container w3-yellow" action="{{url '/users/login'}}" method="POST">
  <div>
    <label>Email or username: </label>
    <input class="w3-input" type="text" name="emailOrUsername" placeholder="Place your email or username here.">
  </div>
  <div>
    <label>Password: </label>
    <input class="w3-input" type="password" name="password" placeholder="Place your password here.">
  </div>
  <div>
    <button class="w3-btn w3-red" type="submit">Submit</button>
  </div>
</form>
