<h1>{{ user.name }}</h1>

<p>{{ user.email }}</p>

<div>
  <div class="w3-container w3-yellow w3-border w3-border-black">
    <h2>THE POSTS</h2>
  </div>
  {{#each user.posts}}
  <div class="w3-container w3-card w3-pale-yellow w3-border w3-border-black">
    <h3>{{ this.title }}</h3>
    <div><p>{{ this.body }}</p></div>
  </div>
  {{/each}}
</div>
