<div class="w3-container">
  <div class="w3-card">
    <div class="w3-panel">
      <form method="post" action="/websites/website1/auth/authenticate" class="my-form">
        <div class="box">
          <label for="email">email</label>
          <input class="w3-input" type="text" autofocus>
        </div>
        <div class="box">
          <label for="password">password</label>
          <input class="w3-input" type="password">
        </div>
        <div class="box">
          <button class="w3-btn w3-dark-gray w3-right" type="submit">login</button>
        </div>
      </form>
    </div>
  </div>
</div>
