<div class="w3-container">
  <div class="w3-bar w3-border w3-light-grey">
    <a class="w3-bar-item" href="/websites">Websites</a>
    <a class="w3-bar-item" href="/websites/website1">Home</a>
    <a class="w3-bar-item w3-right" href="/websites/website1/auth">Login</a>
    <a class="w3-bar-item w3-right" href="/websites/website1/auth/register">Register</a>
    <a class="w3-bar-item w3-right" href="/websites/website1/database">Database</a>
  </div>
</div>
