div.w3-bar.w3-white
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="home") Home
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="document") Document
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="code") Code
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="history") History
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="problem") Problem
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="mongoose") Mongoose
