app-main-nav

div.main
   div.menu
      a(ui-sref-active="active", ui-sref="note.index") Index
      a(ui-sref-active="active", ui-sref="note.create") Create
      a(ui-sref-active="active", ui-sref="note.list") List
      a(ui-sref-active="active", ui-sref="note.removed") Removed
   div.content
      ui-view

app-main-footer
