ul.app-horizontal-nav
   li(ui-sref-active="active")
      a(ui-sref="blog") Blog.
   li(ui-sref-active="active")
      a(ui-sref="blog.post.index") Posts
   li(ui-sref-active="active")
      a(ui-sref="blog.post.create") Create a post.
