extends ../layouts/base.pug

block content
   h3 Programming Languages.
   p Adipisicing architecto est minus repudiandae rerum nobis temporibus qui eaque ducimus. Ipsum perspiciatis et voluptate dicta rerum voluptatem consectetur explicabo officiis earum, harum. Explicabo laboriosam odio reprehenderit illum facilis libero?

