<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" type="image/ico" href="/public/favicon.ico"/>
  </head>
  <body>

    <div class="container">
      <h1><span class="fa fa-sign-in"></span> Login</h1>

      <% if (messages.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form action="/login" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="email" name="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" type="password" name="password">
        </div>
        <button class="btn btn-warning btn-lg" type="submit">Login</button>
      </form>

      <hr>
      
      <p>Need an account? <a href="/signup">Signup</a></p>

    </div>

  </body>
</html>
