ul.app-horizontal-nav
   li(ui-sref-active="active")
      a(ui-sref="tutorial") Tutorial
   li(ui-sref-active="active")
      a(ui-sref="tutorial.index") Index
   li(ui-sref-active="active")
      a(ui-sref="tutorial.handsontable") Handsontable
   li(ui-sref-active="active")
      a(ui-sref="tutorial.highlightjs") HighlightJS
   li(ui-sref-active="active")
      a(ui-sref="tutorial.ace") Ace Editor
   li(ui-sref-active="active")
      a(ui-sref="tutorial.angular") Angular
