<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Site</title>

    {{{boxen "head"}}}
  </head>
  <body>
    {{> nav}}

    {{{body}}}

    {{> footer}}

    {{{boxen 'scripts'}}}
  </body>
</html>
