html
   head
      title Authentication
      link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

   body
      div.container-fluid
         block content

         include _footer.pug

      script(src="/bower_components/jquery/dist/jquery.min.js")
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
