html
  head
    //- The head
    title Canvas

    link(rel="stylesheet", href="/main.dist.css")
    link(rel="stylesheet", href="/canvas/style.css")

    block head
      //- The head block

  body
    //- The body
    include /inc/nav

    include /inc/messages

    block content
      //- The content block

    include /inc/footer

    block scripts
      //- The scripts block
