{{#extend "layout"}}

{{#content "body"}}
<h1>Home</h1>
<p>Lorem eligendi ea natus deserunt quaerat id dolores? Aut ullam distinctio tempore assumenda assumenda. Sint ad necessitatibus natus cum accusantium. Esse molestias rem dignissimos sit odio? Accusamus labore ex magnam.</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3> 
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>

{{/content}}

{{/extend}}
