<h1>HOME INDEX</h1>

<p>
  <a class="btn btn-default" href="/bootstrap/components">Components</a>
</p>

<div class="well">
  <h2>THE WELL</h2>
  <a class="btn btn-primary" href="/bootstrap/scrap">scrap</a>
</div>

