<h1>FOOTER</h1>

<p>Using express-handlebars as templating engine.</p>
<p>Using Semantic-UI as front end.</p>

<div class="quicklinks">
  <ul>
    <li><a href="/express">Express</a></li>
  </ul>
</div>

<a href="/">Main Home</a>
