<div id="footer">

  <h1>FOOTER</h1>

  <p>Dolor ratione consectetur consectetur voluptas voluptatibus Exercitationem itaque consectetur sed pariatur ullam ea Tenetur mollitia a maiores sint consequuntur, libero! Culpa quam recusandae architecto quam ab. Maiores error commodi nihil</p>

  <a href="/">GO (root) HOME</a>

</div>
