<div id="navigation">
  <ul class="menu">
    <li><a href="{{ base ~ '/' }}">Home</a></li>
    <li><a href="{{ base ~ '/about' }}">About</a></li>
    <li><a href="{{ base ~ '/todos' }}">Todos</a></li>
    <li><a href="{{ base ~ '/music' }}">Music</a></li>
  </ul>
</div>
