<div>
  <h3>FOOTER</h3>
  <p>Elit similique aut tenetur similique est, repellat debitis debitis esse Nihil tempore facere quod repellat enim! Quibusdam excepturi quas deserunt exercitationem eius quos animi! Eius dignissimos possimus delectus voluptates illum!</p>

  <a href="/">Main Home</a>
</div>
