app-time {
  z-index: 1000;
  border: 1px solid #000;
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  padding: 3px 8px;
  border-bottom: none;
  border-left: none;
}
