* {
  font-family: Courier;
}
h1 {
  font-family: Courier;
  color: #000;
  background-color: slateblue;
  padding: 10px;
}

.box {
  padding: 15px;
  background-color: cadetblue;
  color: #000;
}

.yellow {
  color: #FFFF44;
}
