<div class="row">
  <div class="col-sm-4">

    <!-- register form -->
    <form name="form" novalidate ng-submit="vm.register(form)">

      <!-- name -->
      <div class="form-group"
        ng-class="{'has-error': form.name.$dirty && form.name.$error.required}">
        <label for="name">full name</label>
        <input type="text" name="name" class="form-control" 
        ng-model="vm.user.name" required>
      </div>

      <!-- email -->
      <div class="form-group"
        ng-class="{'has-error': form.email.$dirty && (form.email.$error.required || form.email.$error.email)}">
        <label for="email">email</label>
        <input type="email" name="email" class="form-control" 
        ng-model="vm.user.email" required>
      </div>

      <!-- username -->
      <div class="form-group"
        ng-class="{'has-error': form.username.$dirty && form.username.$error.required}">
        <label for="username">username</label>
        <input type="text" name="username" class="form-control" 
        ng-model="vm.user.username" required>
      </div>

      <!-- password -->
      <div class="form-group"
        ng-class="{'has-error': form.password.$dirty && form.password.$error.required}">
        <label for="password">password</label>
        <input type="password" name="password" class="form-control" 
        ng-model="vm.user.password" required>
      </div>

      <!-- confirm password -->
      <div class="form-group"
        ng-class="{'has-error': form.password2.$dirty && form.password2.$error.required}">
        <label for="password2">confirm password</label>
        <input type="password" name="password2" class="form-control" 
        ng-model="vm.user.password2" required>
      </div>

      <button class="btn btn-default btn-block" type="submit"
        ng-disabled="form.$invalid">register</button>
    </form>

  </div>
</div>
