form
   div.form-group
      label Email.
      input.form-control(type="text")
   div.form-group
      label Password.
      input.form-control(type="password")
   button.btn.btn-default Login.

