<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" ui-sref-active="active" ui-sref="pages.page1">Page 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ui-sref-active="active" ui-sref="pages.page2">Page 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ui-sref-active="active" ui-sref="pages.page3">Page 3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" ui-sref-active="active" ui-sref="pages.page4">Page 4</a>
  </li>
</ul>
<br>
