<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>[404]</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/websites/website1/style.css">
  </head>
  <body>

    <div id="nav-template"></div>

    <div class="w3-container">
      <h1>[404]</h1>

      <p>page not found</p>
    </div>

    <script src="/handlebars/dist/handlebars.js"></script>
    <script src="/websites/website1/script.js"></script>

  </body>
</html>
