<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>website 1</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/websites/website1/style.css">
  </head>
  <body>

    <div id="nav-template"></div>

    <div id="login-template"></div>

    <div class="w3-container">
      <div class="w3-card">
        <div class="w3-panel">
          <h2>Users</h2>
          <div id="users-template"></div>
        </div>
      </div>
    </div>


    <script src="/handlebars/dist/handlebars.js"></script>
    <script src="/websites/website1/script.js"></script>
  </body>
</html>
