{{#extend "base"}}

{{#content "body"}}

<p><a href="/todo/todos">All Todos</a></p>

<h1>{{ todo.title }}</h1>

<div>{{ todo.body }}</div>

<p><a href="/todo/todos/{{ todo.id }}/posts/create">Add post to this todo.</a></p>

{{/content}}

{{/extend}}
