{{#extend "layout"}}

{{#content "body"}}

<h1>Home</h1>
<p>Lorem eligendi ea natus deserunt quaerat id dolores? Aut ullam distinctio tempore assumenda assumenda. Sint ad necessitatibus natus cum accusantium. Esse molestias rem dignissimos sit odio? Accusamus labore ex magnam.</p>

{{/content}}

{{/extend}}
