extends /layouts/base

block head
  //- The head block
  link(rel="stylesheet", href="/codemirror/lib/codemirror.css")
    //- the link
  link(rel="stylesheet", href="/codemirror/theme/ambiance.css")
    //- the link

block content
  h1 Add code to a canvas.

  form(action=`/canvas/canvases/${canvas._id}/codes/store`, method="POST")
    div
      label Title:
      input(type="text", name="title", placeholder="Place title here.")
    div
      label Content:
      textarea(name="body")
        //- The textarea
    div
      button(type="submit") Submit

block scripts
  //- The scripts block
  script(src="/codemirror/lib/codemirror.js")
    //- the script
  script(src="/codemirror/mode/javascript/javascript.js")
    //- the script
  script(src="/codemirror/mode/xml/xml.js")
    //- the script
  script(src="/codemirror/mode/htmlmixed/htmlmixed.js")
    //- the script
  script.
    var xTextArea = document.querySelector('textarea');
    var editor = CodeMirror.fromTextArea(xTextArea, {
      lineNumbers: true, 
      mode: 'javascript',
      theme: 'ambiance'
    });
