ul.nav.nav-pills
   li(ui-sref-active="active")
      a(ui-sref="test.index") Test Index.
   li(ui-sref-active="active")
      a(ui-sref="test.login") Test Login.
   li(ui-sref-active="active")
      a(ui-sref="test.controller") Test Controller.
