<div id="footer">
  <h4>FOOTER</h4>
  <p>Elit nobis soluta earum dignissimos voluptas nisi? Corporis et animi architecto alias porro omnis? At illo aliquid error eum fugiat unde. Quibusdam iste dolor eaque illo ea. Non dicta vel.</p>

  <a href="/">Main Home</a>
</div>
