<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
  </head>
  <body ng-app="app">
    <main-menu></main-menu>

    <h1>Home</h1>

    <script src="/opengl/dist/common.js"></script>
    <script src="/opengl/dist/client.out.js"></script>
  </body>
</html>
