h2 INDEX

div.w3-panel(ng-repeat="code in codes")
   p
      document-code(body="code.body", language="{'value': 'javascript', 'name': 'Javascript'}")
   p
      button.w3-btn(ng-click="removeCode(code)", style="margin-right: 5px;") REMOVE
      button.w3-btn(ng-click="setTemplateCode(code)") USE ASE TEMPLATE
   p
      button.w3-btn(onclick="this.nextSibling.classList.toggle('hide')") SHOW JSON OBJECT
      document-code.hide(body="code | json", language="{'value': 'json', 'name': 'JSON'}")


