extends ../layouts/base.pug

block content
   h2 Dashboard.
   p Elit asperiores ea provident recusandae modi adipisicing voluptatem blanditiis repudiandae eligendi pariatur nostrum sequi assumenda officia. Non necessitatibus eligendi blanditiis accusantium ratione. Tempore nobis illum repellat aspernatur placeat veritatis repellat?


