extends ../layouts/base.pug

block content
   h3 Index.
   p Consectetur tempore ab placeat voluptas asperiores commodi. Doloremque qui dolore iste unde vero autem excepturi inventore magni dolores autem rem, iusto neque perspiciatis delectus? Recusandae at doloribus in saepe beatae.

   hr

   h4 Handsontable
   p Lorem nisi voluptatibus corrupti eaque modi aut! A labore nam eos animi ea, at expedita suscipit provident! Quisquam ut ipsum quis quos ut tempora animi, reprehenderit dolorum voluptates hic. Nam.

   hr

   h4 HighlightJS
   p Dolor perspiciatis nobis dicta libero architecto nemo aut. Libero aliquam sit vel necessitatibus nostrum autem facilis repellat quos culpa maxime nihil a harum? Officia dolorem incidunt veritatis necessitatibus beatae, nobis.

   hr

   h4 Ace Editor
   p Elit pariatur assumenda nam sit dolore, perspiciatis. Sapiente facilis accusamus quae accusamus consequatur consequuntur sit. Dolores repellendus obcaecati quaerat eaque repudiandae aut? Sed deleniti perferendis ducimus tempore asperiores incidunt? Repellat!

   hr
   h4 Bootstrap
   p Elit pariatur assumenda nam sit dolore, perspiciatis. Sapiente facilis accusamus quae accusamus consequatur consequuntur sit. Dolores repellendus obcaecati quaerat eaque repudiandae aut? Sed deleniti perferendis ducimus tempore asperiores incidunt? Repellat!

   a.btn.btn-primary(ui-sref="tutorial.bootstrap") Learn more.

   hr
