[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

body {
	background-color: #111;
	color: #CCC;
}

pre code {
	background-color: #FFF;
}

pre {
	background-color: #FFF;
}

src-code {
	border: 1px solid #FFF;
	background-color: #333;
}
src-code pre {
	background-color: #333;
}
src-code pre code {
	background-color: #333;
}
