* {
  box-sizing: border-box;
}
form {
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.5);
}

form > div {
  border: 1px solid rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-bottom: 5px;
}

form, form label, form textarea, form input {
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  min-height: 100px;
}

form label {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

form textarea {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

form input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

form button:hover {
  color: #333;
}


#canvases {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2px;
  box-sizing: border-box;
  overflow: hidden;
}
#canvases canvas {
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: block;
  background-color: #eee;
  margin-bottom: 2px;
  box-sizing: border-box;
  float: left;
}

#canvases canvas:last-child {
  margin-bottom: 0px;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}

div#main {
  overflow: hidden;
}

div#main div#side {
  width: 30%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

div#main div#content h2 {
  margin-top: 0px;
}
div#main div#content {
  width: 70%;
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

div#main div#side div#side-menu {
}

div#main div#side div#side-menu > a {
  border: 1px solid #000;
  display: block;
  margin-bottom: 5px;
  padding: 5px;
}

div#main div#side div#side-menu > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.canvas {
  padding: 5px;
  background-color: #222;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 15px;
}

.canvas.removed {
  border-color: #FF0000;
}

.canvas .title {
  margin: 10px 0px 15px 0px;
  color: #FFFF00;
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 5px 3px 5px;
  margin-right: 5px;
}

.btn:active {
  border-color: #000;
}

.btn.btn-red {
  background-color: #FF3333;
  color: #FFFFFF;
}
.btn.btn-red:active {
  background-color: #FF0000;
}
.btn.btn-blue {
  background-color: #3333FF;
  color: #FFFFFF;
}
.btn.btn-green {
  background-color: #33FF33;
  color: #222222;
}

.post {
  background-color: #333;
  padding: 5px;
  margin-bottom: 9px;
  border: 1px solid rgba(255, 255, 0, 0.3);
}

.post .title {
  margin-top: 8px;
  color: #FFFF33;
}

.post .title span, .post .title small {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
}

.post .body {
  color: #ccc;
}

.light-red {
  color: #FF5577;
}

canvas.canvas {
  padding: 0px;
  display: block;
  min-width: 500px;
  min-height: 300px;
}

div.code {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
}

div.code .title {
  margin-top: 5px;
}

hr.default {
  display: block;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba(255, 0, 0, 0.5);
  margin: 40px 0px 20px 0px;
}

pre.code {
  border: 1px solid rgba(255, 255, 0, 0.3);
  font-size: 14px;
}
