<div class="w3-bar black books-menu" style="margin: 14px 0px;">
  <a class="w3-bar-item" href="{{ url '/books' }}">Books Home</a>
  <a class="w3-bar-item" href="{{ url '/books/create' }}">Add New Book</a>
</div>
