<div class="w3-bar w3-border w3-light-grey" class="menu">
  <a class="w3-bar-item w3-button" href="{{url '/users'}}">Home</a>
  <a class="w3-bar-item w3-button" href="{{url '/users/login'}}">Login</a>
  <a class="w3-bar-item w3-button" href="{{url '/users/register'}}">Register</a>
</div>
