<div class="w3-bar w3-border w3-light-grey" class="menu">
  {{{ link 'Home' '/users' }}}
  {{{ link 'Login' '/users/login' }}}
  {{{ link 'Register' '/users/register' }}}
  {{! END OF LINKS .. GOD !}}
</div>
