style.
   #content > .w3-container {
      border: 1px solid #D6F49D;
   }
   #content .w3-btn.active {
      background-color: #EE6352;
      color: #D6F49D;
   }
   

app-main-nav

br

div#content.w3-container
   div.w3-container.w3-white
      h1 CODE

      div.w3-bar.w3-light-gray
         a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="code.index") INDEX
         a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="code.create") CREATE

      ui-view

app-main-footer
