style.
   #content > .w3-container {
      border: 1px solid #D6F49D;
   }
   #content .w3-btn.active {
      background-color: #EE6352;
      color: #D6F49D;
   }
   

app-main-nav

br

div.main
   div.w3-container.w3-white
      h1 CODE

      div.menu
         a(ui-sref-active="active" ui-sref="code.index") INDEX
         a(ui-sref-active="active" ui-sref="code.create") CREATE
         a(ui-sref-active="active" ui-sref="code.list") LIST
         a(ui-sref-active="active" ui-sref="code.removed") REMOVED

      div.content
         ui-view

app-main-footer
