<div class="nav">
  <ul>
    <li><a href="{{ url '/' }}">Home</a></li>
    <li><a href="{{ url '/angular/demo' }}">Angular</a></li>
    <li><a href="{{ url '/handsontable' }}">Handsontable</a></li>
  </ul>
  <ul>
    <li><a href="{{ url '/' }}">Home</a></li>
  </ul>
</div>
