app-navbar

div.w3-container
   h1 HOME
   p Adipisicing porro laborum tempore sint reiciendis libero Ipsa eligendi omnis officia voluptatibus commodi assumenda. Assumenda voluptatibus tenetur officia iure voluptate? Sequi saepe vero quisquam recusandae fugiat Totam accusamus ipsa aut?
