html
   head
      title LAYOUT ['base']
      link(rel="stylesheet", href="/node_modules/w3-css/w3.css")
      link(rel="stylesheet", href="/node_modules/highlightjs/styles/agate.css")

      block head

   body

      block body

      script(src="/node_modules/highlightjs/highlight.pack.js")
      script(src="/node_modules/jquery/dist/jquery.js")

      block scripts
