{% set base = '/php/clothes/index.php' %}
{% set public = '/php/clothes/public' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Slim</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="{{ public ~ '/style.css' }}">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    {% include 'inc/navigation.twig' %} 

    <div class="container-fluid">
      {% block body %}{% endblock %}
    </div>

    {% include 'inc/footer.twig' %} 

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  </body>
</html>
