<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/2017-07-23/">
    <meta charset="UTF-8">
    <title>database error</title>
  </head>
  <body>

    <br>

    <div class="container">

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h1>Failed to connect to database.</h1>
        </div>
        <div class="panel-body">
          <p>mongodb://192.168.0.10/2017-07-23</p>

          <div>{{error}}</div>
        </div>
        <div class="panel-footer">
          <p>sorry, person</p>
        </div>
      </div>
    </div>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </body>
</html>
