<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/2017-07-23/">
    <meta charset="UTF-8">
    <title>status</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    <br>

    <div class="container">

      <a href="./">go home, ur drunk</a>

      <hr>

      <div class="panel panel-primary">
        <div class="panel-heading">
          Database Connection: MongoDB
        </div>
        <div class="panel-body">
          <p>Connection: mongodb://192.168.0.10/2017-07-23:27017</p>
          <p>PORT: 27017</p>
          <p>IP: 192.168.0.10</p>
          <p>Collection:  2017-07-23</p>
        </div>
        <div class="panel-footer">
          <p>silly person</p>
        </div>
      </div>

  </body>
</html>
