<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CHAT</title>
		<link rel="stylesheet" href="/lib/w3.css">
		<link rel="stylesheet" href="/css/chat.css">
	</head>
	<body>

		<div class="w3-bar w3-red">
			<a class="w3-bar-item w3-purple w3-hover-black" href="/">HOME</a>
		</div>

		<div class="w3-panel w3-dark-gray">
			<h4>CHAT</h4>
			<p>Lorem hic quas eaque labore nisi Placeat architecto nam omnis dolorem numquam Dolor aperiam aperiam non quas odio ut atque Id expedita veniam corrupti quam ab culpa impedit eos porro.</p>
		</div>

		<div id="chat">
			<ul>
				<li>
					<span class="username">Thomas</span>
					<span class="message">message</span>
				</li>
				<li>
					<span class="username">Thomas</span>
					<span class="message">message</span>
				</li>
				<li>
					<span class="username">Thomas</span>
					<span class="message">message</span>
				</li>
				<li>
					<span class="username">Thomas</span>
					<span class="message">message</span>
				</li>
			</ul>
			<form>
				<div>
					<p>{{user.name}}</p>
				</div>
				<div>
					<input type="text">
				</div>
				<div>
					<button>send</button>
				</div>
			</form>
		</div>

		<div class="w3-panel w3-dark-gray">
			<h4>FOOTER</h4>
			<p>Lorem hic quas eaque labore nisi Placeat architecto nam omnis dolorem numquam Dolor aperiam aperiam non quas odio ut atque Id expedita veniam corrupti quam ab culpa impedit eos porro.</p>
		</div>

	</body>
</html>
