<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SERVER</title>
    <link rel="stylesheet" href="/lib/w3.css">
  </head>
  <body style="max-width: 900px; margin: 0px auto;">

    {{#if user}}
    <script>var user = {{{json user}}}</script>
    {{/if}}

    <div class="w3-bar w3-dark-gray">
      <a class="w3-bar-item w3-black w3-hover-red" style="text-decoration: none;" href="/current">CURRENT</a>
      <a class="w3-bar-item w3-black w3-hover-red" style="text-decoration: none;" href="/2017-09-05">2017-09-05</a>
      {{#unless user}}
      <a class="w3-bar-item w3-black w3-hover-red w3-right" style="text-decoration: none;" href="/login">LOGIN</a>
      {{/unless}}

      {{#if user}}
      <a class="w3-bar-item w3-black w3-hover-red w3-right" style="text-decoration: none;" href="/dashboard">DASHBOARD</a>
      {{/if}}
    </div>

    {{#unless user}}
    <div class="w3-panel w3-pink">
      <h4>SEEMS THAT YOU ARE NOT LOGGED IN.</h4>
      <p>Adipisicing dignissimos ad impedit recusandae minima! Aspernatur eos dolores obcaecati sed rem Neque repellendus officia enim iure rem Tempore quae neque eos quae fugiat sunt, eaque Voluptatum voluptatem saepe sunt.</p>
      <p> <a class="w3-btn w3-blue" href="/login">LOG IN</a> </p>
    </div>
    {{/unless}}

    {{#if user}}
    <div class="w3-panel w3-blue">
      <h4>SEEMS THAT YOU ARE LOGGED IN.</h4>
      <h6>I guess you are {{user.name}} and ur username is  {{user.username}}.</h6>
      <p>Sit ipsum expedita dolorum non aperiam repellendus eaque Quasi dolorum quibusdam aspernatur placeat perferendis Obcaecati adipisci neque et quas quod! Odit repellat blanditiis fuga id illo? At quas velit provident?</p>
      <p>
        <a class="w3-btn w3-purple" href="/game">PLAY A GAME</a> 
        <a class="w3-btn w3-red" href="/logout">LOG OUT</a> 
      </p>
    </div>
    {{/if}}

    {{#if user}}
    <div class="w3-panel w3-yellow">
      <h4>SO, YOU ARE LOGGED IN</h4>
      <div class="w3-panel">
        <a class="w3-btn w3-purple" href="/mustache">Mustache</a>
        <a class="w3-btn w3-purple" href="/mongodb">MongoDB</a>
        <a class="w3-btn w3-purple" href="/prism">Prism</a>
        <a class="w3-btn w3-purple" href="/opengl">OpenGL</a>
        <a class="w3-btn w3-purple" href="/node">Node</a>
        <a class="w3-btn w3-purple" href="/laravel">Laravel</a>
      </div>
    </div>
    {{/if}}

    {{#if user.master}}
    <div class="w3-panel w3-card w3-border w3-red">
      <h6>SQLITE</h6>
      <p>
        <a class="w3-btn w3-black" href="/sqlite">Go To Link</a>
      </p>
    </div>

    <div class="w3-panel w3-card w3-border w3-red">
      <h6>RAVEN SIM 14</h6>
      <p>
        <a class="w3-btn w3-black" href="/3d">Go To Link</a>
      </p>
    </div>

    <div class="w3-panel w3-card w3-border w3-red">
      <h6>SOME DATES</h6>
      <p>
        <a class="w3-btn w3-black" href="/2017-08-15">2017-08-15</a>
        <a class="w3-btn w3-black" href="/2017-08-19">2017-08-19</a>
        <a class="w3-btn w3-black" href="/2017-08-22">2017-08-22</a>
      </p>
    </div>

    <div class="w3-panel w3-card w3-border w3-red">
      <h6>SOME POINTS</h6>
      <p>
        <a class="w3-btn w3-black" href="/todo">TODO</a>
        <a class="w3-btn w3-black" href="/rest">REST</a>
        <a class="w3-btn w3-black" href="/mongo">MONGO</a>
        <a class="w3-btn w3-black" href="/W3">W3</a>
      </p>
    </div>
    {{/if}}
    <div class="w3-panel w3-card w3-border w3-green">
      <h6>NEW IDEAS</h6>
      <p>
        <a class="w3-btn w3-yellow" href="/standard">Standard</a>
      </p>
    </div>

    <script src="/three/build/three.min.js"></script>
    <script src="/three/examples/js/loaders/MTLLoader.js"></script>
    <script src="/lib/example.js"></script>
  </body>
</html>
