<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>SERVER</title>
		<link rel="stylesheet" href="/lib/w3.css">
	</head>
	<body>

		<div class="w3-bar w3-dark-gray">
			<a class="w3-bar-item w3-black w3-hover-red w3-right" style="text-decoration: none;" href="/login">LOGIN</a>
			<a class="w3-bar-item w3-black w3-hover-red" style="text-decoration: none;" href="/current">CURRENT</a>
		</div>

		<div class="w3-container">
			<h1>SERVER</h1>

			<div class="w3-panel w3-card w3-border w3-red">
				<h6>SQLITE</h6>
				<p>
					<a class="w3-btn w3-green" href="/sqlite">Go To Link</a>
				</p>
			</div>

			<a href="/3d">RAVEN SIM 14</a>

			<hr>

			<a href="/2017-08-15">2017 08 15</a>
			<span>|</span>
			<a href="/2017-08-19">2017 08 19</a>
			<span>|</span>
			<a href="/2017-08-22">2017 08 22</a>

			<hr>

			<a href="/todo">TODO</a>

			<hr>

			<a href="/rest">REST</a>

			<hr>

			<a href="/mongo">MONGO</a>

			<hr>

			<a href="/W3">W3</a>
		</div>

		<script src="/three/build/three.min.js"></script>
		<script src="/three/examples/js/loaders/MTLLoader.js"></script>
		<script src="/lib/example.js"></script>
	</body>
</html>
