<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>LOGIN</title>
		<link rel="stylesheet" href="/lib/w3.css">
	</head>
	<body>

		<div class="w3-bar w3-dark-gray">
			<a class="w3-bar-item w3-black w3-hover-red" style="text-decoration: none;" href="/">HOME</a>
			<a class="w3-bar-item w3-black w3-hover-red w3-right" style="text-decoration: none;" href="/login">LOGIN</a>
		</div>

		<div class="w3-container">
			<h1>LOGIN</h1>

			<form class="w3-card w3-panel w3-border w3-white" method="POST" action="/login">
				<div class="w3-panel">
					<label>EMAIL</label>
					<input class="w3-input w3-border" type="text" autofocus="autofocus" name="email">
				</div>
				<div class="w3-panel">
					<label>PASSWORD</label>
					<input class="w3-input w3-border" type="password" name="password">
				</div>
				<div class="w3-panel">
					<button class="w3-btn w3-green" type="submit">LOGIN</button>
					<a class="w3-btn w3-blue" href="/register">REGISTER</a>
				</div>
			</form>
		</div>

	</body>
</html>
