{{#extend "base"}}

{{#content "body"}}

<h1>Programs Home</h1>

<p>Elit esse accusantium laboriosam praesentium deleniti impedit! Tenetur aspernatur minima unde ut eligendi dolor sapiente Repudiandae neque omnis error voluptatum quaerat. Nemo vitae libero maiores eos repellendus? Itaque ex aliquam.</p>

<a href="/opengl/programs/create">CREATE A PROGRAM</a>

<ul>
  <li>CREATE A PROGRAM</li>
  <li>MAKE A PROGRAM</li>
  <li>RUN A PROGRAM</li>
</ul>

<p>templates = { demo: {} }</p>

<p>programs/{program.name}</p>
<p>programs/{program.name}/src/main.cc</p>
<p>programs/{program.name}/makefile</p>

{{/content}}

{{/extend}}
