<div id="navigation">
  <ul class="menu">
    <li><a href="{{ base ~ '/' }}">Home</a></li>
    <li><a href="{{ base ~ '/employees' }}">Employees</a></li>
    <li><a href="{{ base ~ '/link' }}">Link</a></li>
    <li><a href="{{ base ~ '/link' }}">Link</a></li>
  </ul>
</div>
