div.w3-container.w3-white
   h1 FOOTER
   p Elit at temporibus aliquam pariatur recusandae dolor! Atque iure doloribus et at quis assumenda placeat? Modi in autem reprehenderit repudiandae maxime accusantium? Sunt ea quia exercitationem voluptas ex labore! Illum.

   p
      a(href="/site") LINK TO SITE
   p
      a(href="/php-site") LINK PHP TO SITE
   p
      a(href="/static") STATIC

