navbar

div.container-fluid
   // include /app/views/includes/_jumbotron.pug

   block content
   // div.row
      div.col-sm-2
         ul.app-vertical-nav
            li(ui-sref-active="active")
               a(ui-sref="mongoose") Mongoose.
            li(ui-sref-active="active")
               a(ui-sref="aimbooster") Aimbooster.
            li(ui-sref-active="active")
               a(ui-sref="w3") W3.
            li
               a(href="/react-app") React App.
      div.col-sm-8
         block content
      div.col-sm-2
         ul.app-vertical-nav
            li
               a(href="#") Link.
            li
               a(href="#") Link.
            li
               a(href="#") Link.
            li
               a(href="#") Link.
            li
               a(href="#") Link.
            li
               a(href="#") Link.
            li
               a(href="#") Link.
            li
               a(href="#") Link.
            li
               a(href="#") Link.

   app-footer
