h4 TUTORIAL CODE PAGE
div.menu
   a(ui-sref-active="active", ui-sref="tutorial.single.code.index") Index
   a(ui-sref-active="active", ui-sref="tutorial.single.code.create") Create
   a(ui-sref-active="active", ui-sref="tutorial.single.code.list") List
ui-view
