div.container-fluid

   // Header.

   div.w3-panel.w3-white
      h1 W3 View.
      hr
      a(ui-sref="home") Home.

   hr

   div.w3-container.w3-white
      h2 Responsive.
      p Adipisicing a reprehenderit perferendis ducimus pariatur vitae necessitatibus sit? Voluptas molestiae illo cupiditate aliquam odio accusantium possimus corporis ut sit omnis quam natus pariatur sequi? Necessitatibus enim amet nemo quaerat.
      h3 Half and half.
      div.w3-row
         div.w3-half.w3-container.w3-green
            h4 One Half.
            p Sit ea nulla rerum maxime numquam! Cumque hic mollitia id culpa repellendus quasi ut? Nisi nam pariatur libero praesentium quas delectus nam rem, sapiente. Sit ipsa mollitia alias beatae tempora.
         div.w3-half.w3-container.w3-red
            h4 Second Half.
            p Amet autem incidunt adipisci laboriosam ea minus. Aut molestiae delectus autem debitis minima? Itaque earum animi beatae sint incidunt doloremque optio, ea illo iste assumenda blanditiis! Saepe sint itaque facere.
      h3 One Third.
      div.w3-row
         div.w3-third.w3-container.w3-green
            h4 One Third.
            p Amet facere repudiandae repellendus accusamus asperiores. Ipsa ea eligendi sapiente vitae assumenda? Optio quam atque eos a praesentium enim? Ipsam unde placeat repudiandae quos itaque excepturi provident odio? Dolor autem.
         div.w3-third.w3-container.w3-red
            h4 One Third.
            p Amet facere repudiandae repellendus accusamus asperiores. Ipsa ea eligendi sapiente vitae assumenda? Optio quam atque eos a praesentium enim? Ipsam unde placeat repudiandae quos itaque excepturi provident odio? Dolor autem.
         div.w3-third.w3-container.w3-blue
            h4 One Third.
            p Amet facere repudiandae repellendus accusamus asperiores. Ipsa ea eligendi sapiente vitae assumenda? Optio quam atque eos a praesentium enim? Ipsam unde placeat repudiandae quos itaque excepturi provident odio? Dolor autem.
      h3 Two third.
      div.w3-row
         div.w3-twothird.w3-green.w3-container
            h4 Two Third.
            p Elit sed quae ratione ex obcaecati. Corrupti optio ea id aliquid blanditiis reiciendis in minus tempora? Similique minus debitis adipisci recusandae debitis aliquid non eligendi sequi cupiditate explicabo exercitationem ratione.
         div.w3-third.w3-container.w3-red
            h4 One Third.
            p Ipsum placeat quos exercitationem omnis obcaecati soluta quaerat quam error corrupti nihil. Quod facere debitis exercitationem perspiciatis reprehenderit neque, quo maxime dolorem nulla nostrum, error inventore quia accusantium. Reiciendis dolorem?
      h3 Quarter.
      div.w3-row
         div.w3-quarter.w3-container.w3-green
            h4 Quarter.
            p Ipsum eum illum veniam fuga itaque totam quibusdam quos eligendi nemo possimus sint laboriosam modi. Quis autem aut eveniet ut sit pariatur fugit maxime. Sapiente explicabo provident explicabo atque architecto?
         div.w3-quarter.w3-container.w3-red
            h4 Quarter.
            p Ipsum eum illum veniam fuga itaque totam quibusdam quos eligendi nemo possimus sint laboriosam modi. Quis autem aut eveniet ut sit pariatur fugit maxime. Sapiente explicabo provident explicabo atque architecto?
         div.w3-quarter.w3-container.w3-blue
            h4 Quarter.
            p Ipsum eum illum veniam fuga itaque totam quibusdam quos eligendi nemo possimus sint laboriosam modi. Quis autem aut eveniet ut sit pariatur fugit maxime. Sapiente explicabo provident explicabo atque architecto?
         div.w3-quarter.w3-container.w3-yellow
            h4 Quarter.
            p Ipsum eum illum veniam fuga itaque totam quibusdam quos eligendi nemo possimus sint laboriosam modi. Quis autem aut eveniet ut sit pariatur fugit maxime. Sapiente explicabo provident explicabo atque architecto?
      h3 Three quarter.
      div.w3-row
         div.w3-threequarter.w3-container.w3-green
            h4 Quarter.
            p Ipsum eum illum veniam fuga itaque totam quibusdam quos eligendi nemo possimus sint laboriosam modi. Quis autem aut eveniet ut sit pariatur fugit maxime. Sapiente explicabo provident explicabo atque architecto?
            p Sit nihil repellat reiciendis tempore officiis eaque, eveniet autem a, quae? Natus nisi suscipit voluptates facere necessitatibus aut id quam exercitationem veniam! Ducimus exercitationem iste repellendus amet obcaecati ad autem?
            p Amet modi temporibus labore fugit ut, optio adipisci vero voluptate! Rerum id vero veniam velit velit? Similique esse ut eum voluptatum tempora rerum numquam. Odio commodi cumque ea corporis et.
         div.w3-quarter.w3-container.w3-yellow
            h4 Quarter.
            p Ipsum eum illum veniam fuga itaque totam quibusdam quos eligendi nemo possimus sint laboriosam modi. Quis autem aut eveniet ut sit pariatur fugit maxime. Sapiente explicabo provident explicabo atque architecto?
      h3 Rest.
      div.w3-row
         div.w3-col.w3-red.w3-container(style="width: 150px;") 
            br
            p 150px.
         div.w3-blue.w3-rest.w3-container
            br
            p Rest.
      br

   hr

   div.w3-container.w3-white
      h1 Header.

   div.w3-container.w3-light-gray
      br
      p Consectetur sed iure error consequuntur alias? Eligendi voluptatum reprehenderit consequatur fugit dignissimos. Porro cumque perferendis expedita rerum odit repudiandae voluptas perferendis cupiditate excepturi voluptatem. Nesciunt repudiandae placeat at quaerat eveniet.
   
   div.w3-container.w3-white
      br
      p Footer.
   hr

   div.w3-container.w3-white.w3-hover-blue
      h2 London.
      p.w3-text-black Adipisicing earum repudiandae provident corporis necessitatibus, reprehenderit? Expedita placeat sit corrupti officia porro? Ab eveniet ex illum qui reiciendis ex. Praesentium veritatis ipsam laboriosam corporis voluptatum dignissimos. Autem assumenda itaque!
   hr

   div.w3-container.w3-white
      h2 Table.
      p.w3-text-black Sit sint aspernatur reprehenderit ad maiores laboriosam. Dignissimos sunt cumque similique quidem id ratione temporibus id et quia. Corrupti omnis dolore neque autem necessitatibus dolor blanditiis itaque recusandae? Ad atque.

      hr

      h3 Sample data.
      table.w3-table.w3-striped.w3-border
         thead
            tr.w3-light-gray
               th Name
               th Email
               th Password
         tbody
            tr(ng-repeat="i in [0, 1, 2, 3, 4]")
               td William Valhakis
               td william.valhakis@gmail.com
               td ihavenopassword

      hr

      h3 Sample data.
      table.w3-table-all
         thead.w3-light-gray
            tr
               th Name
               th Email
               th Password
         tbody
            tr(ng-repeat="i in [0, 1, 2, 3, 4]")
               td William Valhakis
               td william.valhakis@gmail.com
               td ihavenopassword
      br
   hr

   div.w3-panel.w3-white
      h2 Buttons with width of 33.3%.
      div.w3-bar
         div.w3-bar-item.w3-button.w3-red(style="width: 33.3%;") Button.
         div.w3-bar-item.w3-button.w3-green(style="width: 33.3%;") Button.
         div.w3-bar-item.w3-button.w3-blue(style="width: 33.3%;") Button.
      h3 Navigation bar.
      div.w3-bar.w3-black
         button.w3-bar-item.w3-button.w3-hover-text-red Link.
         button.w3-bar-item.w3-button.w3-hover-text-red Link.
         button.w3-bar-item.w3-button.w3-hover-text-red Link.
      br
   hr

   div.w3-panel.w3-white
      h2 Panel.
      p Sit incidunt molestiae omnis iste voluptate. Dolores ex deleniti dolores et delectus aliquid. Perferendis enim tempora iusto eum mollitia est? Accusantium fugit officiis harum quia consequuntur. Mollitia maxime minus earum.
   hr

   div.w3-panel.w3-white
      h2 Alerts.
      p Adipisicing molestias quo iste quam nesciunt obcaecati saepe voluptate illo. Magnam sit libero minima similique dicta autem a adipisci, consequatur placeat praesentium, eius eligendi architecto facilis nobis ea. Culpa facilis!

      div.w3-panel.w3-red.w3-display-container
         span.w3-button.w3-red.w3-display-topright(onclick="this.parentElement.style.display='none'") X
         h3 Danger.
         p Adipisicing maxime debitis iste possimus consequuntur nulla consequatur vero. Aperiam quia delectus temporibus eius fuga. Molestiae explicabo consequuntur porro nihil est. Elit dolore provident dicta saepe voluptatem perferendis nesciunt ullam.

      div.w3-panel.w3-yellow.w3-display-container
         span.w3-button.w3-yellow.w3-display-topright(onclick="this.parentElement.style.display='none'") X
         h3 Warning.
         p Ipsum unde adipisicing illo exercitationem omnis sunt? Cupiditate voluptates eos culpa doloremque quas rem nihil quod. Quod fuga pariatur eius rerum corrupti odio cumque. Optio animi ut facilis quia totam!

      div.w3-panel.w3-green.w3-display-container
         span.w3-button.w3-green.w3-display-topright(onclick="this.parentElement.style.display='none'") X
         h3 Success.
         p Ipsum unde adipisicing illo exercitationem omnis sunt? Cupiditate voluptates eos culpa doloremque quas rem nihil quod. Quod fuga pariatur eius rerum corrupti odio cumque. Optio animi ut facilis quia totam!
      div.w3-panel.w3-blue.w3-display-container
         span.w3-button.w3-blue.w3-display-topright(onclick="this.parentElement.style.display='none'") X
         h3 Info.
         p Ipsum unde adipisicing illo exercitationem omnis sunt? Cupiditate voluptates eos culpa doloremque quas rem nihil quod. Quod fuga pariatur eius rerum corrupti odio cumque. Optio animi ut facilis quia totam!
   hr

   div.w3-panel.w3-white.w3-card-4
      h2 Panel as card.
      p Adipisicing odio blanditiis ex omnis recusandae quibusdam voluptas natus, rem incidunt. Omnis est harum qui animi assumenda, quasi voluptatum. Nihil quo maxime voluptate fuga voluptatem? Ipsum blanditiis deleniti fugit veniam.
   hr

   div.w3-panel.w3-white.w3-round-large
      h2 Rounded panel.
      p Ipsum explicabo non itaque fugit inventore pariatur rerum suscipit veritatis fugiat error debitis, odit voluptates obcaecati est. In dolorem accusamus voluptatibus voluptatibus vel praesentium earum nihil repudiandae reiciendis dicta error?
   hr

   div.w3-panel.w3-white
      h2 Lists.
      p Lorem aspernatur cum laboriosam nemo quasi, laudantium dolore quaerat dolores! Quo fugiat id voluptatum aspernatur ex asperiores. Suscipit ducimus libero quaerat necessitatibus veritatis fugiat. Asperiores voluptatibus consequatur tempora ipsum ducimus.

      ul.w3-list
         li.w3-display-container(ng-repeat="i in [0, 1, 2, 3, 4]")
            div William Valhakis.
            br
            span.w3-button.w3-display-right(onclick="this.parentElement.style.display='none'") X
      hr
   hr

   div.w3-panel.w3-white
      h2 Icons.
      p Adipisicing amet praesentium nemo ea fugiat. Sapiente alias accusamus officiis eligendi beatae totam in sunt labore aspernatur. Minima voluptatum alias tenetur reprehenderit at rem id. Molestiae quis autem veritatis sequi?
      p Home.
         i.fa.fa-home
      p Bars.
         i.fa.fa-bars
      p Left.
         i.fa.fa-arrow-left
      p Right.
         i.fa.fa-arrow-right
      p Search.
         i.fa.fa-search
      p Close.
         i.fa.fa-close
      p Refresh.
         i.fa.fa-refresh
      p Trash.
         i.fa.fa-trash
      p Male.
         i.fa.fa-male
      p Car.
         i.fa.fa-car
      p Truck.
         i.fa.fa-truck
      p Plane.
         i.fa.fa-plane
      hr
   hr

   div.w3-panel.w3-white
      h2 Forms.
      p Dolor fugit molestias dolorem sunt dolor, quis tempore modi ipsam ea, fuga culpa iure beatae. Expedita ut laboriosam corrupti architecto dolores quaerat, libero quis illo, esse corrupti doloremque vitae corporis.

      hr

      div.w3-card-4
         div.w3-container.w3-red
            h3 Input Form.
         br
         form.w3-container
            label Name.
            input.w3-input
            br
            label Email.
            input.w3-input
         br

      hr

      div.w3-card-4
         div.w3-container.w3-green
            h3 Input Form.
         form.w3-container
            br
            input.w3-input
            label Name.
            br
            input.w3-input
            label Email.
         br
      br

      div.w3-card-4
         div.w3-container.w3-blue
            h3 Input Form.
         form.w3-container
            br
            label Name.
            input.w3-input.w3-border
            br
            br
            label Email.
            input.w3-input.w3-border
            br
            br
            button.w3-btn.w3-blue Submit.
         br
      br

   hr

   div.w3-panel.w3-white
      h2 Tags.
      p Adipisicing possimus natus nisi nihil ab! Quia ad consequuntur natus veritatis nemo quaerat quibusdam ab aperiam, ratione voluptate sequi atque? Veniam veritatis voluptatibus eos doloribus libero. Optio similique perspiciatis iste?
      hr
      p 
         span Status: 
            span.w3-tag Done.
      p
         span.w3-tag.w3-blue New.
      p 
         span.w3-tag.w3-teal Maybe Later.
      p
         span.w3-tag.w3-xlarge A
         span.w3-tag.w3-xlarge.w3-red U
         span.w3-tag.w3-xlarge G
         span.w3-tag.w3-xlarge.w3-red U
         span.w3-tag.w3-xlarge S
         span.w3-tag.w3-xlarge.w3-red T
      br
      p
         span.w3-tag.w3-spin.w3-large.w3-red.w3-border.w3-border-black SPIN
      br
   hr

   div.w3-panel.w3-white.w3-leftbar.w3-border-black.w3-border
      h2 Panel with left border.
      p Lorem cum magnam aspernatur ad velit. Quasi repudiandae unde rerum quaerat consectetur autem maxime! Omnis necessitatibus a voluptatibus earum omnis dolores totam pariatur consectetur debitis magni similique commodi? Itaque fuga.
   hr

   button.w3-btn(onclick="this.nextSibling.style.display='block'") SHOW.
   div.w3-panel.w3-white.w3-display-container
      h2 Hide panel.
      p Consectetur maiores vitae saepe corporis in ducimus voluptatum veniam unde. Consectetur asperiores quae consectetur quas sequi, itaque? Cum ipsam eaque nemo nemo omnis amet! Iure harum perferendis fugiat nam provident.
      span.w3-button.w3-display-topright.w3-black(onclick="this.parentElement.style.display='none'") CLOSE.
      p Elit animi corrupti libero illo totam, ipsum elit! Suscipit assumenda ex obcaecati dolor aut voluptatem nisi qui sequi? Accusantium tenetur illum iste hic nulla dolore saepe ipsum, tempore. Porro nulla!

   hr

   div.w3-panel.w3-white
      h2 Footer.
      p Amet assumenda aperiam porro cumque deleniti. Autem dolorem necessitatibus quaerat ad doloremque dolor quos! Quis accusantium voluptas fugiat sit repellendus! Consequuntur repellat deleniti tenetur magni provident, mollitia ipsa? Vitae voluptatibus.

      div.w3-panel(ng-repeat="i in [0, 1, 2, 3, 4]")
         h3 Item {{ i }}.
         p Elit fuga harum repellat quisquam enim nihil quaerat et odit voluptas asperiores eaque totam impedit dolore itaque inventore iste incidunt quibusdam. Voluptas fuga aperiam quo dicta voluptatem. Magnam laudantium architecto?

      p Sit eos ducimus repellendus quod nulla recusandae. Nesciunt a quisquam sunt odit quam? Earum laudantium iusto aspernatur itaque porro ab libero laboriosam suscipit, laboriosam ut veritatis optio unde fugit sunt.
      p Consectetur molestias earum harum at animi! Libero fugit quos magni in consequuntur porro consectetur vel! Omnis officia soluta dolores unde et nobis laudantium enim ipsam! Error explicabo sunt soluta voluptates?

