<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DEMO 3</title>
    <link rel="stylesheet" href="/main.dist.css">
  </head>
  <body>

    {{> nav}}

    {{{body}}}

    {{> footer}}
  </body>
</html>
