{% extends 'lay/base.twig' %}

{% block body %}

<h1>Home</h1>

<a href="/php/clothes/index.php/products">Products</a>

<p>Products</p>

<ul>
  <li>Shirts</li>
  <li>Pants</li>
  <li>Shoes</li>
  <li>Accessories</li>
</ul>

<p>Welcome, {{ name }}!</p>

{% endblock %}
