.nav {
  background-color: #000;
  padding: 5px;
  overflow: hidden; }
  .nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden; }
    .nav ul:first-child {
      float: left; }
    .nav ul:last-child {
      float: right; }
  .nav li {
    float: left; }
  .nav ul:first-child li a {
    margin-right: 4px; }
  .nav ul:last-child li a {
    margin-left: 4px; }
  .nav a.active {
    color: #FFFF33; }
  .nav a {
    color: #EEE;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 5px 3px 5px;
    font-size: 18px;
    display: block; }
    .nav a:hover {
      color: #FFFF33;
      background-color: #000; }
    .nav a:active {
      border-color: #FFFF33; }

form {
  padding: 5px 0px; }

form > div {
  margin-bottom: 8px; }

form input, form label {
  display: block;
  padding: 5px; }

form label {
  padding-left: 0px; }

form button {
  padding: 6px 6px 4px 6px; }

form input {
  min-width: 400px; }

@font-face {
  font-family: COURIER;
  src: url("/courier.ttf") format("truetype"); }

body, pre code, input, button, textarea {
  font-family: COURIER !important; }

body {
  background-color: #151515;
  color: #FFF; }

a {
  color: #FFFFAA;
  text-decoration: none; }

a:hover {
  color: #FFFF00; }
