.example {
	border: 1px solid #FF0000;
	padding: 10px;
	background-color: #FF6666;
	width: 100%;
	box-sizing: border-box;
	min-height: 100px;
}

.parent {
	border: 1px solid #FF0000;
	padding: 10px;
	background-color: #FFCCCC;
	margin-bottom: 10px;
}

.parent.focus {
	background-color: #CCCCFF;
}

@font-face {
  font-family: COURIER;
  src: url('/courier.ttf') format('truetype');
}

body, pre code, input, button, textarea {
  font-family: COURIER !important;
}

form.basic {
  background-color: #FFFF88;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

form.basic > div {
  margin-bottom: 5px;
}

form.basic button {
  padding: 5px 5px 3px 5px;
}
