<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>[server]</title>
    <link rel="stylesheet" href="/node/style.css">
    <link rel="stylesheet" href="/codemirror/lib/codemirror.css">
  </head>
  <body>

    <h1>[server]</h1>

    <div id="editor">
      <textarea></textarea>
    </div>

    {{example}}

    <script src="/codemirror/lib/codemirror.js"></script>
    <script src="/codemirror/mode/javascript/javascript.js"></script>

    <script src="/node/server/editor.js"></script>

  </body>
</html>
