body {
  background-color: #000;
  color: #DDD;
}

pre {
  background-color: #151515;
  padding: 5px;
  color: #FFF;
  font-size: 12px;
}

a {
  color: #FFF;
}

#demo-info {
  position: fixed;
  bottom: 0px;
  right: 0px;
  height: 300px;
  width: 400px;
  background-color: #191919;
  border: 1px solid #555;
  padding: 5px;
  overflow-y: auto;
}
#demo-info p {
  margin: 0px;
  margin-bottom: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #151515;
}
