<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>[svg]</title>
    <link rel="stylesheet" href="/svg/style.css">
  </head>
  <body>

    <a href="/">[master]</a>

    <h1>[svg]</h1>

    <h2>[circle]</h2>

    <ul>
      <li>cx</li>
      <li>cy</li>
      <li>r</li>
      <li>stroke</li>
      <li>stroke-width</li>
      <li>fill</li>
    </ul>

    <svg id="svg" width="600" height="400">
      <circle cx="50" cy="50" r="40" stroke="#000" stroke-width="2" fill="#666"></circle>
      <g transform="translate(0, 100)">
      <line x1="10" y1="10" x2="100" y2="10" stroke-width="2" stroke="#000"></line>
      </g>
    </svg>

    <h2>[rectangle]</h2>

    <svg width="600" height="400">
      <rect width="300" height="100" style="fill:#666;stroke-width:2;stroke:#111;"></rect>
    </svg>

    <h2>[graph]</h2>

    <svg width="600" height="400">
      <line x1="10" y1="30" x2="590" y2="30" style="stroke:#000; stroke-width: 2;"></line>
      <line x1="30" y1="10" x2="30" y2="390" style="stroke:#000; stroke-width: 2;"></line>

      <circle cx="30" cy="30" r="3"></circle> <!-- 0 -->
      <text x="15" y="25">0</text>

      <circle cx="50" cy="30" r="3"></circle> <!-- x = 1; -->
      <text x="45" y="25">1</text>

      <circle cx="70" cy="30" r="3"></circle> <!-- x = 2; -->
      <text x="65" y="25">2</text>

      <circle cx="90" cy="30" r="3"></circle> <!-- x = 3; -->
      <text x="85" y="25">3</text>

      <circle cx="110" cy="30" r="3"></circle> <!-- x = 4; -->
      <text x="105" y="25">4</text>

      <circle cx="130" cy="30" r="3"></circle> <!-- x = 5; -->
      <text x="125" y="25">5</text>

      <circle cx="150" cy="30" r="3"></circle> <!-- x = 6; -->
      <text x="145" y="25">6</text>

      <circle cx="170" cy="30" r="3"></circle> <!-- x = 7; -->
      <text x="165" y="25">7</text>

      <circle cx="190" cy="30" r="3"></circle> <!-- x = 8; -->
      <text x="185" y="25">8</text>

      <circle cx="210" cy="30" r="3"></circle> <!-- x = 9; -->
      <text x="205" y="25">9</text>

      <circle cx="230" cy="30" r="3"></circle> <!-- x = 10; -->
      <text x="220" y="25">10</text>

      <circle cx="250" cy="30" r="3"></circle> <!-- x = 11; -->
      <circle cx="270" cy="30" r="3"></circle> <!-- x = 12; -->
      <circle cx="290" cy="30" r="3"></circle> <!-- x = 13; -->
      <circle cx="310" cy="30" r="3"></circle> <!-- x = 14; -->
      <circle cx="330" cy="30" r="3"></circle> <!-- x = 15; -->
      <circle cx="350" cy="30" r="3"></circle> <!-- x = 16; -->
      <circle cx="370" cy="30" r="3"></circle> <!-- x = 17; -->
      <circle cx="390" cy="30" r="3"></circle> <!-- x = 18; -->
      <circle cx="410" cy="30" r="3"></circle> <!-- x = 19; -->
      <circle cx="430" cy="30" r="3"></circle> <!-- x = 20; -->
      <circle cx="450" cy="30" r="3"></circle> <!-- x = 21; -->
      <circle cx="470" cy="30" r="3"></circle> <!-- x = 22; -->
      <circle cx="490" cy="30" r="3"></circle> <!-- x = 23; -->
      <circle cx="510" cy="30" r="3"></circle> <!-- x = 24; -->
      <circle cx="530" cy="30" r="3"></circle> <!-- x = 25; -->
      <circle cx="550" cy="30" r="3"></circle> <!-- x = 26; -->
      <circle cx="570" cy="30" r="3"></circle> <!-- x = 27; -->
      <circle cx="590" cy="30" r="3"></circle> <!-- x = 28; -->

      <circle cx="30" cy="50" r="3"></circle> <!-- y = 1; -->
      <circle cx="30" cy="70" r="3"></circle> <!-- y = 2; -->
      <circle cx="30" cy="90" r="3"></circle> <!-- y = 3; -->
      <circle cx="30" cy="110" r="3"></circle> <!-- y = 4; -->
      <circle cx="30" cy="130" r="3"></circle> <!-- y = 5; -->
      <circle cx="30" cy="150" r="3"></circle> <!-- y = 6; -->
      <circle cx="30" cy="170" r="3"></circle> <!-- y = 7; -->
      <circle cx="30" cy="190" r="3"></circle> <!-- y = 8; -->
      <circle cx="30" cy="210" r="3"></circle> <!-- y = 9; -->
      <circle cx="30" cy="230" r="3"></circle> <!-- y = 10; -->
      <circle cx="30" cy="250" r="3"></circle> <!-- y = 11; -->
      <circle cx="30" cy="270" r="3"></circle> <!-- y = 12; -->
      <circle cx="30" cy="290" r="3"></circle> <!-- y = 13; -->
      <circle cx="30" cy="310" r="3"></circle> <!-- y = 14; -->
      <circle cx="30" cy="330" r="3"></circle> <!-- y = 15; -->
      <circle cx="30" cy="350" r="3"></circle> <!-- y = 16; -->
      <circle cx="30" cy="370" r="3"></circle> <!-- y = 17; -->
      <circle cx="30" cy="390" r="3"></circle> <!-- y = 18; -->
    </svg>

    <script src="/svg/script.js"></script>
  </body>
</html>
