div.w3-bar.w3-white
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="home") Home
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="document") Document
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="code") Code
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="history") History
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="problem") Problem
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="mongoose") Mongoose
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="tutorial") Tutorial
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="snippet") Snippet
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="todo") Todo
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="note") Note
   a.w3-bar-item.w3-btn(ui-sref-active="active" ui-sref="exercise") Exercise
