html
  head
    title Pug
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/pug/style.css")
    link(rel="stylesheet", href="/prismjs/themes/prism-tomorrow.css")
  body
    h1 Pug
    |
    h2 Pug installation
    pre
      code npm install --save pug
    |
    h2 Example raw code 01
    raw-code(file="example01.js", language="javascript")
      //- loads code
    |
    h2 Example raw code 01
    raw-code(file="example01.js", language="javascript")
      //- loads code
    |
    h2 Example raw code 01
    raw-code(file="example01.js", language="javascript")
      //- loads code
    |
    h2 Example raw code 01
    raw-code(file="example01.js", language="javascript")
      //- loads code

    a(href="/") Main Home

    script(src="/prismjs/prism.js")
      //- script

    script(src="/prismjs/components/prism-c.js")
      //- script

    script(src="/prismjs/components/prism-cpp.js")
      //- script

    script(src="/prismjs/components/prism-c.js")
      //- script

    script(src="/prismjs/components/prism-javascript.js")
      //- script

    script(src="/prismjs/components/prism-jade.js")
      //- script

    script(src="/pug/client.js")
