h5 This is application info directive / module / component.

table.table.table-bordered
   tbody
      tr
         th app:
         td {{ app }}
      tr
         th app.example()
         td {{ app.example() }}
