<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>[create program]</title>
    <link rel="stylesheet" href="/learnopengl/style.css">
  </head>
  <body>

    <div id="main">
      <div id="main-nav">
        <a href="/learnopengl/program">[program index]</a>
      </div>

      <h1>[create program]</h1>

      <form method="post" action="/learnopengl/program/create">
        <div>
          <label>[title]</label>
          <input name="title">
        </div>
        <div>
          <label>[description]</label>
          <textarea name="description"></textarea>
        </div>
        <button type="submit">[create]</button>
      </form>
    </div>

  </body>
</html>
