<div>
  <h4>NAVIGATION</h4>
  <ul class="menu">
    <li><a href="/mysql">Home</a></li>
    <li><a href="/mysql/codes">Codes</a></li>
    <li><a href="/mysql/tutorials">Tutorials</a></li>
  </ul>
</div>
