h3 This is user index view.

ul.app-horizontal-nav
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.users.list") List of all users.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.users.create") Create new user.

ui-view
