<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>[bootstrap]</title>
		{{> head}}
	</head>
	<body>

		{{> navbar page='about'}}

		<div class="jumbotron text-center">
			<h1>My First Bootstrap Page</h1>
			<p>About</p> 
		</div>

		<element mode="html">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<h3>Column 1</h3>
					<p>Lorem ipsum dolor..</p>
					<p>Ut enim ad..</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 2</h3>
					<p>Lorem ipsum dolor..</p>
					<p>Ut enim ad..</p>
				</div>
				<div class="col-sm-4">
					<h3>Column 3</h3> 
					<p>Lorem ipsum dolor..</p>
					<p>Ut enim ad..</p>
				</div>
			</div>
		</div>
		</element>

		{{> foot}}
	</body>
</html>

