<!DOCTYPE html>
<html lang="en">
  <head>
    {{#block "head"}}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Bootstrap</title>

      <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

      <link rel="stylesheet" href="/style.css">
      <link rel="stylesheet" href="/rest/style.css">
    {{/block}}
  </head>
  <body>

    {{> navbar}}

    <div class="container-fluid">
      {{{ body }}}
    </div>

    {{> foot}}

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    {{{boxen 'scripts'}}}
  </body>
</html>
