h3 Handsontable.

p Adipisicing earum autem laudantium porro ducimus! Esse sunt officia maxime quidem eius. Nobis unde culpa a deleniti illum vero voluptates. Eos ea dignissimos laborum unde quod maxime nam. Veniam repellendus.

div#handsontable

script.
   var hot = new Handsontable(document.getElementById('handsontable'), {
   rowHeaders: true,
   colHeaders: true
   });

ui-view
