extends /layouts/base

block content
  h1 Remove the canvas.

  h3 Are you sure you want to remove this canvas ?
  a.btn.btn-red(href=`/canvas/canvases/${canvas._id}/delete`) Yes, Remove this canvas please.
