<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>[canvas]</title>
    <link rel="stylesheet" href="/canvas/style.css">
  </head>
  <body>
    <a href="/">[master]</a>

    <h1>[canvas]</h1>

    <div id="canvases"></div>

    <ul>
      <li>physics</li>
      <li>velocity</li>
      <li>vertex</li>
      <li>vector</li>
      <li>cartesion coordinate system</li>
      <li>sin, cos, tan</li>
      <li>opposite, adjacent, hypotenuse</li>
      <li>radians, degrees</li>
      <li>radius</li>
      <li>degrees = radians * 180 / PI</li>
      <li>radians = degrees * PI / 180</li>
      <li>sin wave</li>
      <li>lissajous curve</li>
      <li>circle, ellipse</li>
      <li>unit vector</li>
      <li>acceleration</li>
    </ul>

    <script src="/canvas/scripts/other/vector.js"></script>
    <script src="/canvas/script.js"></script>
  </body>
</html>
