extends /layout

block content
   h1 This is the home page.

   hr

   a(href="/dashboard") A link to dashboard.

   hr

   a(href="/login") Log in hooman.

   hr

   a(href="/register") Become a member.

   hr

   h4 List of users.
   include /user/_ListOfUsers.pug
