body {
  background-color: #111;
  color: #fff;
  margin-bottom: 200px;
}

a {
  color: #ccc;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding-bottom: 0px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

a:hover {
  color: #f00;
}

.hidden {
  display: none;
}

.dir {
  color: red;
}
.dir:hover {
  color: #FF0;
  cursor: pointer;
}

.file {
  color: #ccc;
}
.file:hover {
  color: #FF0;
  cursor: pointer;
}
