app-main-nav
div.main
   h1 PROBLEM
   div.menu
      a(ui-sref-active="active", ui-sref="problem.index") Index
      a(ui-sref-active="active", ui-sref="problem.create") Create
      a(ui-sref-active="active", ui-sref="problem.list") List
   div.content
      ui-view
app-main-footer
