app-main-nav

div#content.w3-container.w3-white
   h1 TODO

   div.menu
      a(ui-sref-active="active", ui-sref="todo.index") INDEX
      a(ui-sref-active="active", ui-sref="todo.create") CREATE
      a(ui-sref-active="active", ui-sref="todo.list") LIST
      a(ui-sref-active="active", ui-sref="todo.removed") REMOVED

   ui-view

app-main-footer
