html
  head
    link(rel="stylesheet", href="/prismjs/themes/prism-tomorrow.css")

    pre
      code.language-css body { color: red; }

  body

    script(src="/prismjs/prism.js")
      //- script

    script(src="/prismjs/components/prism-c.js")
      //- script

    script(src="/prismjs/components/prism-cpp.js")
      //- script

    script(src="/prismjs/components/prism-c.js")
      //- script
