{% extends 'lay/base.twig' %}

{% block body %}

<h1>About</h1>

<p>Dolor illum voluptatem cum recusandae atque consectetur numquam Accusantium obcaecati neque sint iure sequi consequatur Iure accusamus magni hic laboriosam officia Iure numquam dolores minus fugit velit? Voluptate officia pariatur.</p>

{% endblock %}
