<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>create post</title>
		<link rel="stylesheet" href="/lib/w3.css">
	</head>
	<body>

		<div class="w3-container">
			<h1>CREATE NEW POST</h1>
		</div>

		<form action="/posts/create">
			<div class="w3-panel">
				<label>Title: </label>
				<input class="w3-input w3-border" type="text">
			</div>
			<div class="w3-panel">
				<label>Content: </label>
				<textarea class="w3-input w3-border" rows="5"></textarea>
			</div>
			<div class="w3-panel">
				<button class="w3-btn w3-dark-gray">create</button>
			</div>
		</form>

	</body>
</html>
