<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>[posts]</title>
		<link rel="stylesheet" href="/lib/w3.css">
	</head>
	<body>

		<div class="w3-container">

			<hr>

			<a href="/posts/create">CREATE NEW POST</a>

			<hr>

		</div>

	</body>
</html>
