link(rel="stylesheet", href="/codemirror/lib/codemirror.css")

textarea
  //- the textarea

script(src="/codemirror/lib/codemirror.js")
  //- the script
script(src="/codemirror/mode/javascript/javascript.js")
  //- the script
script(src="/codemirror/mode/xml/xml.js")
  //- the script
script(src="/codemirror/mode/htmlmixed/htmlmixed.js")
  //- the script
