ul.app-vertical-nav
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.users") Users.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.posts") Posts.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.kittens") Kittens.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.codes") Codes.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.authors") Authors.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.stories") Stories.
   li
      a(href="#") link
   li
      a(href="#") link
   li
      a(href="#") link
   li
      a(href="#") link
