h2 Mongoose master view.
p Lorem dicta corporis laudantium voluptas ex! Tempore eum sapiente illo ullam natus in. Adipisci ea voluptates quam quis minus ipsa hic. Et ut exercitationem repellat at minima possimus similique dignissimos!

div.row
   div.col-xs-3
      br
      include _navbar.pug
   div.col-xs-9
      h3 Views.
      p Amet asperiores soluta consequuntur similique architecto sequi consequatur architecto? Fugiat libero esse hic cupiditate consectetur dolor velit vero soluta. Aliquam sit ipsam quod beatae quae esse beatae tempora. Aliquid explicabo.
      ui-view

