form, textarea, button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: block;
}

form {
  width: 400px;
  overflow: hidden;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
}

button:hover {
  background-color: #ccc;
}

button {
  margin-top: 10px;
  float: right;
}
