{{#extend "base"}}

{{#content "head"}}

{{/content}}

{{#content "body"}}

<h1>Posts</h1>

{{/content}}

{{#content "scripts"}}
<script src="/angular/angular.js"></script>
<script src="/angular/posts.js"></script>
{{/content}}

{{/extend}}
