{{#extend "base"}}

{{#content "head"}}

{{/content}}

{{#content "body"}}

<h1>REST</h1>

<ul>
  <li>GET</li>
  <li>PUT</li>
  <li>POST</li>
  <li>DELETE</li>
</ul>

{{/content}}

{{#content "scripts"}}
<script src="/angular/angular.js"></script>
<script src="/angular/posts.js"></script>
{{/content}}

{{/extend}}
