ul.app-vertical-nav
   li(ui-sref-active="active")
      a(ui-sref="tutorial.todos") Todos.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.node") Node.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.sections") Sections.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.programmingLanguages") Programming Languages.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.users") Users.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.dashboard") Dashboard.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.protected") Protected.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.jwtAuth") Jwt Auth.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose") Mongoose.
   li 
      a(href="#") Link.
   li 
      a(href="#") Link.
   li 
      a(href="#") Link.
   li 
      a(href="#") Link.
   li 
      a(href="#") Link.
   li 
      a(href="#") Link.

