<h1>W3 INDEX</h1>

<div class="w3-container">
  <h1>THE CONTAINER</h1>

  <a class="w3-button w3-green" href="{{ url '/w3/demo' }}">DEMO</a>
  <a class="w3-button w3-green" href="{{ url '/w3/demo-2' }}">DEMO 2</a>
  <a class="w3-button w3-green" href="{{ url '/w3/demo-3' }}">DEMO 3</a>
  <a class="w3-button w3-green" href="{{ url '/w3/static' }}">STATIC</a>
</div>

<div class="w3-container">
  <h1>TAGS</h1>
</div>
