app-main-nav
div.main
   h1 EXERCISE
   div.menu
      a(ui-sref-active="active", ui-sref="exercise.index") Index
      a(ui-sref-active="active", ui-sref="exercise.create") Create
   div.content
      ui-view
app-main-footer
