* {
  box-sizing: border-box;
}
.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */ 
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */ 
.default:hover {background: #ddd;}

form {
  box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.3), -2px -2px 10px rgba(50, 50, 50, 0.3);
  padding: 10px;
}

form input, form textarea, form label {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

form textarea {
  min-height: 150px;
}

form label {
  padding-left: 0px;
}

form > div {
  margin-bottom: 10px;
}

form button {
  background-color: #2196F3;
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 10px 22px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

#errors, #successes {
  margin-bottom: 10px;
}

#errors > div, #successes > div {
  border: none; 
  color: white; 
  padding: 14px 28px;
  cursor: pointer; 
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5), -1px -1px 5px rgba(50, 50, 50, 0.5);
  margin-bottom: 5px;
}

#errors > div {
  background-color: #f44336;
}

#successes > div {
  background-color: #4CAF50;
}

.note {
  box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.5), -1px -1px 5px rgba(50, 50, 50, 0.5);
  padding: 5px;
  margin-bottom: 15px;
}

.w3-bar {

}
.w3-bar .w3-bar-item, .w3-bar .w3-button {
  font-size: 14px;
  padding: 10px 15px 7px 15px;
}


.w3-input {
  min-width: 100px;
  width: 100%;
  padding-top: 12px;
}

form > div:last-of-type {
  margin-top: 20px;
}

.login-row .w3-input:focus {
  outline-color: rgba(255, 0, 0, 0.7);
}

.login-row .w3-half:first-child {
  padding-left: 0px;
}

.login-row .w3-half:last-child {
  padding: 0px;
}

.login-row .w3-half:last-child > div {
  padding: 0px;
  margin: 0px;
}

.login-row .w3-half:last-child .w3-panel {
  padding: 0px;
  margin: 0px;
}

@media (max-width: 980px) {
  .login-row {
    margin: 0px auto;
  }
  .login-row .w3-half {
    padding: 5px;
  }
  .login-row .w3-half:first-child {
    display: block;
    width: 100%;
  }
  .login-row .w3-half:last-child {
    display: none;
  }
}

.w3-btn {
  padding: 10px 20px 6px 20px;
  color: red;
}

.flashMessages .error, .flashMessages .success {
  color: #000000;
  padding: 6px 6px 3px 6px;
}
.flashMessages .error {
  background-color: #FF4444;
}

.flashMessages .success {
  background-color: #44FF44;
}

form.login > div:last-child a {
  color: #FF2222;
}

form.login > div:last-child a:hover {
  color: #FF0000;
  font-weight: bold;
}

form.login > div:last-child a:active {
  color: #000000;
  font-weight: bold;
}

.w3-button {
  padding: 7px 20px 3px 20px;
}

.CodeMirror {
  font-size: 12px;
}

#colors {
  background-color: #222;
  padding: 5px;
  border: 1px solid #444;
}
#colors > div {
  margin-bottom: 5px;
  border: 1px solid #222;
  padding: 6px 5px 3px 5px;
  font-size: 15px;
  line-height: 15px;
  position: relative;
  overflow: auto;
}
#colors > div:last-child {
  margin-bottom: 0px;
}
#colros > div span {
  display: block;
}
#colors > div span.name {
  float: left;
}
#colors > div span.value {
  float: right;
}

#status {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #FFFF00;
  height: 0px;
  color: #000;
  text-align: left;
  vertical-align: middle;
  line-height: 25px;
  transition: visibility, height 0.1s;
  padding: 2px 5px 5px 5px;
  visibility: hidden;
}
#status.active {
  height: 25px;
  visibility: visible;
}

.modal {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 30px;
  background-color: rgba(10, 10, 10, 0.9);
  position: fixed;
  visibility: hidden;
}
.modal span.close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 8px 15px 4px 15px;
  background-color: #A33;
  user-select: none;
  cursor: default;
}
.modal span.close:hover {
  background-color: #A22;
}
.modal span.close:active {
  background-color: #A11;
}
.modal.active {
  visibility: visible;
}

.books-menu {
  background-color: black;
}

.books-menu a {
  margin-right: 3px;
  background-color: coral;
  color: black;
}
.books-menu a:last-child {
  margin-right: 0px;
}
.books-menu a:hover {
  background-color: darkmagenta;
  color: #FFFF33;
}
.books-menu a:active {
  background-color: indigo;
}
.book-form {
  box-shadow: none;
  padding: 0px;
}
.books-list > div {
  background-color: darkorchid;
  margin-bottom: 10px;
  font-family: Courier;
  padding-bottom: 10px;
}

.books-list a {
  font-family: Courier;
}

#book-main {
  font-family: Courieri;
}

#book-main .w3-modal-content {
  background-color: blueviolet;
}

#book-main .w3-modal-content form {
  box-shadow: none;
}
.book-posts {
}
.book-posts > div {
  background-color: coral;
  margin-bottom: 15px;
}
.book-posts .title {
  color: black;
}

.w3-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
  padding: 10px 5px 5px 5px;
}
.w3-select option {
  padding: 20px;
}

.book-codes-list > div {
  color: black;
  background-color: khaki;
}

#game-canvas {
  background-color: #000;
  width: 100%;
  min-height: 600px;
  display: block;
}

.v1-form {
  box-shadow: none;
}


.image {
  display: block;
  width: 100%;
}

.w3-tag {
  padding: 5px 8px 2px 8px;
}
