ul.app-horizontal-nav
   li(ui-sref-active="active")
      a(ui-sref="tasks.list") List of tasks.
   li(ui-sref-active="active")
      a(ui-sref="tasks.new") Create a new task.
   li(ui-sref-active="active")
      a(ui-sref="tasks.removed") List of removed tasks.
