<h1>404</h1>

<p>Method: {{method}}</p>
<p>Path: {{path}}</p>
<p>Orignal Url: {{originalUrl}}</p>

<canvas></canvas>

<p id="time"></p>

<script src="/moment/min/moment.min.js"></script>
<script src="{{url '/404.js'}}"></script>
