app-main-nav

div.main
   div.w3-panel.w3-white
      h1 HOME
      div.menu
         a(ui-sref="book") Book
         a(ui-sref="movie") Movie
      h2 LATEST NOTES
      div.list
         div(ng-repeat="note in notes")
            h4 {{note.title}}
            div.pre.excerpt {{note.content}}
            p [excerpt]
