html
   head
      title Base
      link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
      link(rel="stylesheet", href="/static/css/main.css")
   body
      include /includes/navbar.pug

      div.container-fluid
         block content

      script(src="/bower_components/jquery/dist/jquery.js")
      script(src="https://192.168.0.2:5000/livereload.js", async)
      script(src="/client.out.js")
