extends ../layouts/base.pug

block content
   h2 This is protected page.
   p Amet atque libero non amet optio vero voluptatum quam? Perferendis accusantium ex asperiores nam sequi? Ipsum iste totam quos voluptates accusamus velit consequuntur nulla ipsam commodi autem. Eveniet culpa cumque?

