div.jumbotron
   h1 {{ title ? title : 'Application' }}
   p {{ description ? description : 'Ipsum ipsum exercitationem deleniti eos esse rerum veniam eaque ut numquam. Voluptates commodi eligendi ratione numquam consequatur porro id aut? Eligendi numquam perferendis odio harum asperiores cumque fuga quis possimus.' }}
   p
      a.btn.btn-primary.btn-lg(href="/", role="button") Learn more.
   p {{ currentUser }}
