ul.app-horizontal-nav
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.kittens.index") Kitten Home.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.kittens.create") Create Kitten.

ui-view

