h4 Kitten Create View.
p Adipisicing delectus beatae deleniti tempore ea? Quisquam excepturi ipsa veritatis voluptate voluptates veritatis explicabo? Eius quidem omnis nesciunt voluptatem at rem. Possimus eaque at optio accusamus magni! Ratione vel natus.

form.app-form(ng-submit="KittenCtrl.create(KittenCtrl.kitten)")
   div.form-group
      label Name.
      input.form-control(type="text", ng-model="KittenCtrl.kitten.name")
   button.btn.btn-default Create Kitten.
