<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Angular</title>
    <link rel="stylesheet" href="/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>

    <div ng-app="app">

      <div ng-controller="AwesomeController">
        <uib-tabset active="current"  justified="true">
          <uib-tab id="tab1" index="0" heading="Tab 1" ng-click="current = 0">
            <!-- content1 -->
          </uib-tab>
          <uib-tab id="tab2" index="1" heading="Tab 2" ng-click="current = 1">
            <!-- content2 -->
            <button ng-click="current = 0"> Go to tab 1</button>
          </uib-tab>
        </uib-tabset>
      </div>

      <div class="container" ng-controller="AwesomeController">
        <uib-tabset active="active"  justified="true">
          <uib-tab id="tab1" index="0" heading="Tab 1">
            Content 1
          </uib-tab>
          <uib-tab id="tab2" index="1" heading="Tab 2">
            Content 2
            <button ng-click="setActive(0)">Button</button>
          </uib-tab>
        </uib-tabset>

        <div ng-bind="active"></div>
      </div>

    </div>

    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
  </body>
</html>
