form(ng-submit="create(mongoose)").w3-panel.w3-card-4.w3-red
   h3 CREATE MONGOOSE
   p
      label NAME
      input.w3-input.w3-text-black(ng-model="mongoose.name")
   p
      button.w3-btn(type="submit") CREATE
