h2 This our is home.
p 
   i This text is very useful, cause everybody likes those characters.

a(ui-sref-active="active", ui-sref="login") Link to login page.

hr

a(href="https://medium.com/opinionated-angularjs/techniques-for-authentication-in-angularjs-applications-7bbf0346acec") A link to the authentication technique blog.
