<div id="navbar" class="w3-bar w3-black">
   <a class="w3-bar-item w3-button" ui-sref-active="active" ui-sref="home">Home</a>
   <a class="w3-bar-item w3-button" ui-sref-active="active" ui-sref="about">About</a>
   <a class="w3-bar-item w3-button" ui-sref-active="active" ui-sref="tutorials">Tutorials</a>
   <a class="w3-bar-item w3-button" ui-sref-active="active" ui-sref="todo">TODO</a>
   <a href="#" class="w3-bar-item w3-button">Link</a>
   <a href="#" class="w3-bar-item w3-button">Link</a>
   <a href="#" class="w3-bar-item w3-button">Link</a>
   <a href="#" class="w3-bar-item w3-button w3-right">Log in</a>
   <a class="w3-bar-item w3-button w3-right" ui-sref-active="active" ui-sref="dashboard">Dashboard</a>
</div>
