<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/osrs">OSRS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/osrs">Home</a></li>
      <li><a href="/osrs/todos">Todo</a></li>
    </ul>
  </div>
</nav>
