<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>sqlite</title>
  </head>
  <body>
    <a href="/apps">Home</a>

    <hr>

    <h1 style="font-weight: normal; margin: 0px 5px;">sqlite</h1>

    <hr>

    <pre><code>$ sqlite3</code></pre>
    <pre><code>> .help</code></pre>
    <pre><code>> .exit</code></pre>
    <pre><code>> .tables</code></pre>
    <pre><code>INSERT INTO lorem VALUES ('sample')</code></pre>
    <pre><code>CTRL-D</code></pre>
    <pre><code>.show</code></pre>

  </body>
</html>
