navbar

div.app-content
   h1 Dashboard.

   div.w3-panel.w3-white
      h2 Welcome 
         i {{ currentUser.email }}
      p 
         i {{ currentUser.id }}

   div.w3-panel.w3-white
      h2 Lite Server
      p Amet saepe aperiam iusto earum nemo sit ipsa ab quae id. Consequuntur aliquid itaque aliquid accusamus vel fuga facere distinctio omnis. Voluptate dignissimos odit quaerat cum aspernatur fuga? Impedit necessitatibus.
      div.w3-bar.w3-black
         button.w3-bar-item.w3-btn.w3-hover-white('ng-class'="lite.startClass()", 'ng-click'="lite.start()") START
         button.w3-bar-item.w3-btn.w3-hover-white('ng-class'="lite.stopClass()", 'ng-click'="lite.stop()") STOP
         button.w3-bar-item.w3-btn.w3-hover-white('ng-class'='lite.statusClass()', 'ng-click'="lite.status()") STATUS
         button.w3-bar-item.w3-btn.w3-hover-white('ng-class'='lite.openClass()', 'ng-click'="lite.open()") OPEN IN NEW TAB
      br


   div.w3-panel.w3-white
      h2 PROJECTS

      hr

      h3 Project 01 - Example.
      p Consectetur mollitia eum assumenda omnis optio beatae quam commodi deleniti corporis nemo nihil quisquam maiores labore beatae. Suscipit accusantium iste placeat quisquam accusamus amet officiis deserunt. Minus minima soluta quasi.
      div.app-bar
         button('ng-click'='project01.start()', 'ng-class'="{'w3-disabled':project01.isOpen}") START
         button('ng-click'='project01.stop()', 'ng-class'="{'w3-disabled':!project01.isOpen}") STOP
         button('ng-click'='project01.status()', 'ng-class'="{'w3-green':project01.isOpen, 'w3-red':!project01.isOpen}") STATUS
         button('ng-click'='project01.open()', 'ng-class'="{'w3-disabled':!project01.isOpen}") OPEN IN NEW TAB

      br

app-footer
