{% extends 'lay/base.twig' %}

{% block body %}

<h1>Products</h1>

<ul>
  <li>Shirts</li>
  <li>Pants</li>
  <li>Shoes</li>
  <li>Accessories</li>
</ul>

<h3>Product Creation.</h3>
<form action="/php/clothes/index.php/products/store" method="POST">
  <div class="form-group">
    <label>Name: </label>
    <input class="form-control" name="name" type="text" placeholder="Place product's name here.">
  </div>
  <div class="form-group">
    <label>Image URL: </label>
    <input class="form-control" name="imageUrl" type="url" placeholder="Place product's image url here.">
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>

{% endblock %}
