<!DOCTYPE html>
<html lang="en">
  <head>
    {{#block "head"}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app.name }}</title>

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/opengl/style.css">
    {{/block}}
  </head>
  <body ng-app="app">

    {{> navigation}}

    <div class="container-fluid">
      <h1>{{ app.name }}</h1>

      {{#block "body"}}{{/block}}
    </div>

    {{> footer}}

    <script src="/angular/angular.js"></script>
    {{#block "scripts"}}{{/block}}
    <script src="/opengl/app.js"></script>
  </body>
</html>
