<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>[pug]</title>
    <link rel="stylesheet" href="/highlightjs/styles/agate.css">
  </head>
  <body>

    <h1>[pug]</h1>

    <a href="/template_engines/">[home]</a>
    <a href="/template_engines/pug/sample">[sample]</a>

    <raw-code type="bash" file="pug.sh"></raw-code>
    <raw-code type="javascript" file="pug.js"></raw-code>
    <raw-code type="jade" file="sample.pug"></raw-code>

    <script src="/highlightjs/highlight.pack.min.js"></script>
    <script src="/template_engines/pug/script.js"></script>
  </body>
</html>
