#components-list {
}

#components-list .component:hover .delete {
	display: block;
}

#components-list .component .delete {
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: none;
}

#components-list .component {
	position: relative;
	padding-bottom: 15px;
}

#active-component {
	position: absolute;
	background-color: red;
	height: 400px;
	width: 20px;
	top: 40px;
	right: 0px;
	border: 1px solid #000;
}

#active-component .bar {
	background-color: black;
	width: 15px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#active-component .bar:hover {
	background-color: #111;
}

#active-component .bar:active {
	background-color: #811;
}

#active-component.selected {
	background-color: purple;
	width: 300px;
}
