h2 CREATE NEW PROBLEM
form.form(ng-submit="createProblem(problem)")
   p
      label Title
      input(ng-model="problem.title")
   p
      label Problem
      textarea(ng-model="problem.content")
   p
      button(type="submit") Create
