<div class="container-fluid">
  <h1>
    <span class="fa fa-lock"></span>
    <span>Node Authentication</span>
  </h1>

  <a href="/auth/login" class="btn btn-default">
    <span class="fa fa-user"></span>
    <span>Log In</span>
  </a>

  <a href="/auth/signup" class="btn btn-default">
    <span class="fa fa-user"></span>
    <span>Sign Up</span>
  </a>
</div>
