<div class="container-fluid">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>
      <span class="fa fa-sign-in"></span>
      <span>Log In</span>
    </h1>

    {{#if message }}
    <div class="alert alert-danger">{{ message }}</div>
    {{/if}}

    <form action="/auth/login" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" name="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-warning">Log In</button>
    </form>

    <hr>

    <a href="/auth" class="btn btn-default">
      <span class="fa fa-lock"></span>
      <span>Index</span>
    </a>

    <a href="/auth/signup" class="btn btn-default">
      <span class="fa fa-user"></span>
      <span>Become a member</span>
    </a>

  </div>
</div>
