<div class="container-fluid">
  <h1>
    <span class="fa fa-anchor"></span>
    <span>Profile</span>
    <a href="/auth/logout" class="btn btn-default btn-sm">Log Out</a>
  </h1>

  <div class="row">
    <div class="col-sm-6">
      <div class="well">
        <h3>
          <span class="fa fa-user"></span>
          <span>User</span>
        </h3>
        <p>
          <strong>id</strong>: {{ user.id }} <br>
          <strong>email</strong>: {{ user.email }} <br>
          <strong>password</strong>: {{ user.password }}
        </p>
      </div>
    </div>
  </div>
</div>
