* {
  box-sizing: border-box;
}
#true {
  overflow: hidden;
}

#true p {
  display: inline-block;
  padding: 5px;
}

#numbers {

}

#numbers p {
  display: inline-block;
  padding: 5px;
  margin: 0px;
  width: calc(100% / 10);
  font-size: 15px;
  font-family: Arial Narrow;
}
