<div>
  <h2>FOOTER</h2>
  <p>Adipisicing libero ad adipisci sunt esse dolorem Maiores culpa sunt dolorem quaerat autem. Obcaecati at repudiandae dignissimos autem inventore Mollitia non consequuntur perspiciatis nesciunt aliquam? Quaerat voluptatum sunt aut adipisci</p>

  <a href="/">Main Home</a>
</div>
