h3 This is post index view.
ul.app-horizontal-nav
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.posts.list") List of posts.
   li(ui-sref-active="active")
      a(ui-sref="tutorial.mongoose.posts.create") Create new post.
ui-view
