<div ng-app="demo">
  <h1>DEMO</h1>
  <input type="file" import-sheet-js="" multiple="false"  />
</div>

<script src="/xlsx/dist/xlsx.full.min.js"></script>
<script src="/angular/angular.js"></script>
<script src="{{url '/angular/demo.js'}}"></script>

