<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>INDEX</title>
    <link rel="stylesheet" href="/jquery/css/main.css">
    <link rel="stylesheet" href="/prismjs/themes/prism-tomorrow.css">
  </head>
  <body>

    <h1>INDEX</h1>

    <example-01></example-01>

    <script src="/prismjs/prism.js"></script>
    <script src="/js-beautify/js/lib/beautify.js"></script>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/handlebars/dist/handlebars.min.js"></script>
    <script src="/jquery/scripts/main.js"></script>
  </body>
</html>
