include /app/views/includes/_jumbotron.pug

div.row
   div.col-sm-2
      ul.app-vertical-nav
         li(ui-sref-active="active")
            a(ui-sref="mongoose") Mongoose.
         li(ui-sref-active="active")
            a(ui-sref="aimbooster") Aimbooster.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
   div.col-sm-6
      h1 THIS IS HOME LAYOUT.
      block content
   div.col-sm-4
      ul.app-vertical-nav
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
         li
            a(href="#") Link.
