html
   head
      title Base.
      link(rel="stylesheet", href="/node_modules/w3-css/w3.css")
      block head
   body
      block body

      // include _navbar.pug

      // div.w3-container
         // block content

         // include _footer.pug
