{{#extend "layout"}}

{{#content "body"}}
<h1>Posts Home</h1>
<p>Consectetur esse ut culpa illo possimus Illum non saepe ad odit ratione Consequatur perspiciatis maiores saepe adipisci iste? Reprehenderit sint aperiam similique nobis minima dolorem. Adipisci sequi incidunt amet dicta.</p>

<a href="/rest/posts/create">Create a Post.</a>

{{/content}}

{{/extend}}
